@import 'tailwindcss';
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-move 4s linear infinite;
}


.nav-link {
  background: linear-gradient(to right, #f59e0b, #f97316);
  transition: all 0.3s ease;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
}


.nav-link.active {
  background-color: #f97316;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(249, 115, 22, 0.3);
}